<section>
        <div id="blte">
          <div id="txt">
            <span id="twep">20+ years</span>
            <span id="ot">Our Combined Experience</span>
          </div>
          <div id="bl">
            <span id="t1">Incredible work! Best creative experience ever; timely, well executed and one hell of the result. Would recommend Nietszche to anyone who is looking to revamp their identity.</span>
            <span id="auth">JOHN K. RILEY - HARVEST GOODS.</span>
            <div id="point-cont">
               <div class="point ab"></div>
               <div class="point"></div>
               <div class="point"></div>
               <div class="point"></div>
            </div>
          </div>
        </div>
</section>