
<div class="row">
    <div class="col-sm-5 col-xs-12 text-left t6" >
        <p class="text">What we do</p>
        
    </div>
    <div class="col-sm-7 col-xs-12 text-left t6" >
        <p class="t2">Hello! We're a Creative Agency in New York City That Focuses On Design, Development & Illustration.</p>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-12 col-xs-12 text-top t6">
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center t9">
                <p class="text-left t7">01.</p>
                <p class="text-left t8">Design</p>
                <p class="text-left t16">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center t9">
                <p class="text-left t7" >02.</p>
                <p class="text-left t8">Development</p>
                <p class="text-left t16">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center t9">
                <p class="text-left t7">03.</p>
                <p class="text-left t8">Illustration</p>
                <p class="text-left t16">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
            </div>
        </div>
    </div>
</div>
