@import "../../variables";

.text{
    color:#000;
    background-color:#f9f9f9;
    border-color: #f9f9f9;
    font-size: 40px;
    font-weight: bold;
    margin:76px 0 10px 0;
    margin-left:90px;
}

.t2{
    text-align: left;
    color:#000;
    margin-top: 76px;
    font-size: 36px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}




.t6{
    width: auto;
    height: auto;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color:grey;
    margin-top:-1.5rem;
    
}
.t7{
    font-family:Playfair Display;
    font-size: 22px;
    margin-left:90px;
}


.t8{
    font-weight: bold;
    font-size: 28px;
    margin-top: -1.9rem;
    margin-left:90px;

}

.t16{
margin-top: 0.8rem;
margin-left:90px;

}
.t9{
    margin-top:65px;
    
}
