<div class="row">
    <div class="col-sm-12 col-xs-12 text-top t6">
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center t9">
                <p class="text-left a4">Jason Ford</p>
                <p class="text-left a5">Developer</p>
                <img src="\assets\images/борода.png" class="t56">
                <p class="text-left t16">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
                <a href="#" id="faceb"><i class="fa fa-facebook"></i></a>
                <a href="#" id="twit"><i class="fa fa-twitter"></i></a>
                <a href="#" id="intr"><i class="fa fa-dribbble"></i></a>
            </div>
            <div class="col-sm-4 col-xs-12 text-center t9">
                <p class="text-left a4" >Michael Andrews</p>
                <p class="text-left a5">Designer</p>
                <img src="\assets\images/кепка.png" class="t56">
                <p class="text-left t16">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
                <a href="#" id="faceb"><i class="fa fa-facebook"></i></a>
                <a href="#" id="twit"><i class="fa fa-twitter"></i></a>
                <a href="#" id="intr"><i class="fa fa-dribbble"></i></a>
            </div>
            <div class="col-sm-4 col-xs-12 text-center t9">
                <p class="text-left a4">Samuel Banks</p>
                <p class="text-left a5">Illustrator</p>
                <img src="\assets\images/куртка.png" class="t56">
                <p class="text-left t16">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
                <a href="#" id="faceb"><i class="fa fa-facebook"></i></a>
                <a href="#" id="twit"><i class="fa fa-twitter"></i></a>
                <a href="#" id="intr"><i class="fa fa-dribbble"></i></a>
            </div>
        </div>
    </div>
</div>