@import "../../variables";


.t55{
padding: 0 0;
  margin-left: 55px;

}



.a1{
    font-weight: bold;
    font-size: 40px;
    margin-top: -1.9rem;
    margin-left:90px;

}

.a2{
margin-top: 2.8rem;
margin-left:90px;
font-size: 20px;

color:#666;
font-family:sans-serif;
}
.a3{
margin-top: 2.8rem;
margin-left:90px;
font-size: 14px;

color:#666;
font-family:sans-serif;
}

.t9{
    margin-top:85px;
    
}


