<div class="row">
    <div class="col-sm-12 col-xs-12 text-top t20">
        <div class="row">
            <div class="col-sm-5 col-xs-12 text-top t9">
                <p class="text-left a1">About us</p>
                
                <p class="text-left a2">Warhol is an elegant multi-purpose template that is big, bold and beautiful.</p>
                <p class="text-left a3">It combines elegance, functionality and design. If you are looking for a template that breaks the norm of multi-purpose template design, then Warhold is for you. With some 70+ pages, layouts, components, Warhold gives you a design toolkit to help you create an amazing project for you or your client!</p>
                <p class="text-left a3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="col-sm-7 col-xs-12 text-right ">
                <img src="/assets/images/праве.png" class="t55">
            </div>
            
        </div>
    </div>
</div>