@import "../../variables";
section{
    margin-top:100px;
    margin-left:42%;
    margin-bottom:50px;
}
ul{
    margin-left:-14%;
    list-style-type: none;
    display:flex;
    flex-direction:row;
}
li{
    margin:10px;
    color:grey;
    &:hover{
        color:black;
        cursor: pointer;
    }
}
li:first-child{
    background-color:black;
    border-radius:40%;
    padding:1px 10px 1px 10px;
    &:hover{
        color:white;
        cursor: pointer;
    }
}
.t5{
    padding: 0 0;
    margin-top: -0.8rem;

}