<header class = "main-header">
  <div class = "container fluid">
          <div class = "top-bar">
              <nav class = "navbar row">
                  <div class = "navbar-header col-sm-4 col-xs-4">
                      <a href = "#" class = "navbar-brand">
                           <img src = "\assets\images\logo.png" />
                      </a>
                  </div>
                  <div class = "nav-top col-sm-8 col-xs-8">
                     <ul class = "nav navbar">
                      <li><a [routerLink]="stepLink">HOME</a></li>
                      <li><a routerLink="/">SERVICES</a></li>
                      <li><a routerLink="/">OUR WORK</a></li>
                      <li><a [routerLink]="formLink">ABOUT US</a></li>
                      <li><a [routerLink]="formLink">CLIENTS</a></li>
                      <li style="margin-right:100px;"><a [routerLink]="formLink">CONTACT</a></li>
                      <li><a [routerLink]="formLink"><i class="fa fa-search" aria-hidden="true"></i> </a></li>
                      <li><a routerLink="/"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
              </nav>
          </div>
          <div class = "jumbotron">
              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                      <h1>Hola, We're Warhol</h1>
                      <div class = "jumb-button">
                          <button class = "button2"><span>
                          </span>See What We Do</button>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</header>
